<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>danus.in</title>
    <link rel="stylesheet" type="text/css" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/welcome-style.css}"/>
</head>
<body>
<div class="header">
    <div class="wrap">
        <h1 th:text="'Welcome to danus.in ' + ${name}"></h1>
        <div class="menu">
            <input type="checkbox" name="toggle" id="toggle"/>
            <label for="toggle"><span>Explore danus.in</span></label>
            <ul>
                <li><a href="/profile">About Me</a></li>
                <li><a href="/search">Search Danus</a></li>
                <li><a>Order Danus</a></li>
                <li><a>
                    <form align="right" name="form1" method="post" th:action="@{log-out}">
                        <div class="login-form">
                            <input class="logout-submit" type="submit" value="Log Out"/>
                        </div>
                    </form>
                </a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
