<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <p>Nama</p>
        </div>

        <div class="col-md-6">
            <p th:text="${user.name}"></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p>Nomor Telepon</p>
        </div>

        <div class="col-md-6">
            <p th:text="${user.phoneNumber}"></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p>Institusi</p>
        </div>

        <div class="col-md-6">
            <p th:text="${user.company}"></p>
        </div>
    </div>
</div>
<p class="text-center">Sudah punya akun? <a href="http://localhost:9090/logout">Log Out</a> </p>
</body>
</html>